body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

.name {
    color: orange;
}

section {
    display: flex;
    margin-bottom: 200px;
}

.half-spc {
    width: 50%;
    padding-left: 5%;
}

.half-spc img {
    width: 100%;
    margin-top: 5%;
}

.shop-btn {
    text-decoration: none;
    background-image: linear-gradient(tomato, orange);
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 8px;
}

.background-img {
    background-image: url(images/Background.jpg);
    background-repeat: no-repeat;
}

.dream-big {
    background-image: url(images/c.png);
    background-repeat: no-repeat;
    background-position: right;
}

.se-p {
    padding-right: 10%;
}